<!-- <h1>Hola soy {{nombre}} {{apellido}}</h1>
<h2>Hola y yo soy el alumno {{alumno.nombre}} {{alumno.apellido}}</h2>
<h3>Hola soy un h3</h3>


<input type="text" [(ngModel)]="inputNuevo">
<p>{{inputNuevo}}</p> -->

<label for=""> Correo:
    <input type="email" (ngModelChange)="escribirCorreo()" [(ngModel)]="correo">
</label>

<label for="">Contraseña:
    <input type="password" (keydown)="ingresar($event)" [(ngModel)]="password">    
</label>

<button (dblclick)="ingresar()" >Iniciar</button>

<button (dblclick)="llamarAlert()" >Doble click</button>

<br>
<br>
<!-- <input type="text" (input)="escribir($event.target.value)">

<input type="text" (focus)= "colorearFondo($event)"> -->

<img src="https://i.pinimg.com/originals/3d/33/f1/3d33f1635eb1a598c9ffb68ae23d3b81.gif" (mouseenter)="cambiarTam($event)" (mouseleave)="incrementarTam($event)" alt="">

